body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:active {
  scale: 0.95;
}

/* Capture Screenshot */
#selection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  cursor: crosshair;
}
#selection-box {
  position: absolute;
  border: 2px solid coral;
  background: rgba(0, 0, 255, 0.1);
}
#screenshot-container {
  position: relative;
  min-height: 100px;
  max-height: 300px;
  overflow: hidden;
  border: 1px dashed coral;
  border-radius: 0.5rem;
  background-color: rgb(255, 228, 219);
  margin: 10px 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#screenshot-container:empty::before {
  content: "Click here to Capture Screenshot";
  color: coral;
}
#screenshot-container img {
  max-width: 100%;
  height: auto;
}

/* Response Container */
#openai-response {
  padding: 35px 10px 10px 10px;
  border: 1px solid #a1a1a1;
  border-radius: 0.5rem;
  margin: 10px 0;
  background-color: #f9f9f9;
  max-height: 200px;
  overflow-y: auto;
}
#openai-response:empty::before {
  content: "No response yet";
  color: #666;
  font-style: italic;
}

/* Debugging */
#html,
#css,
#selected-html {
  padding: 5px;
  border: 1px solid lightcoral;
  border-radius: 3px;
  height: 8rem;
  overflow-y: auto;
}
#html:empty::before,
#css:empty::before,
#selected-html:empty::before {
  content: "No content available";
  color: #666;
  font-style: italic;
}

/* Loading Spinner */
.loading {
  min-height: 50px;
  position: relative;
}
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid coral;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading:empty .loading-spinner {
  display: none;
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
